@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-obsidian-bg text-obsidian-textBase min-h-screen antialiased selection:bg-purple-900 selection:text-purple-200;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #141416;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* KaTeX custom sizing & formatting in dark mode */
.katex {
  font-size: 1.05em !important;
  color: #e2e8f0;
}

.katex-display {
  margin: 1.25em 0 !important;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.5em 0;
}
